<div class="container">
  <h1 class="text-center">To Do List</h1>
  
  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">事項清單</h3>
    </div>
    
    <div class="panel-body">
      <%= form_for @todo, { remote: true } do |f| %>
        <%= f.label "新增事項" %>
        <div class="input-group">
          <%= f.text_field :title, class: "form-control" %>
          <div class="input-group-addon">
            <% if @todo.new_record? %>
              <%= f.submit "新增", class: "my-btn my-btn-transparent" %>
            <% else %>
              <%= f.submit "修改", class: "my-btn my-btn-transparent" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <table class="my-table table table-hover">
      <thead/>
      <tbody>
        <% @todos.each do |todo| %>
          <tr>
            <%= render "todo", todo: todo %>
          </tr>
        <% end %>
      </tbody>
      <tfoot/>
    </table>
    
  </div>
  
</div>